<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Robot Vera</title>
</head>
<body>
    <div class="header">
        <div class="slider inner">
            <div class="nav slider-inner">
                <div class="slider-canvas">
                    <a class="slider-item nav-item logo" href="/"></a>
                    <a class="slider-item nav-item nav-item_link" href="#how">Как работает Вера</a>
                    <a class="slider-item nav-item nav-item_link" href="#tech">Технологии</a>
                    <a class="slider-item nav-item nav-item_link" href="#clients">Клиенты</a>
                    <a class="slider-item nav-item nav-item_link" href="#media">СМИ</a>
                    <a class="slider-item nav-item nav-item_link" href="#videointeview">Видео интервью</a>
                    <div class="slider-item nav-item lang-switcher">RU | EN</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="section special-gradient">
            <div class="inner">
                <h1>Здравствуйте, меня зовут Вера, я – робот</h1>
                <p>Искусственный интелект найдет тысячи резюме, позвонит кандидатам, проведет интервью и даже закажет им такси, чтобы встретиться с Вами</p>
                <button class='green'>Войти</button>
            </div>
        </div>

        <div class="section" id="how">
            <div class="inner">
                <h1>Как работает робот Вера</h1>
                <p>Вы платите только за результат — целевых и заинтересованных в вашей вакансии кандидатов</p>
                <button class='special'>Регистрация</button>
            </div>
        </div>

        <div class="section special-gradient" id="tech">
            <div class="inner">
                <!-- мозг и чат -->
                <iframe class="chat" src="http://truerenton.com/landbot"></iframe>
                <h1>Мозг Веры — эксперементальные технологии и уникальное совмещение конкурирующих разработок</h1>
                <p>Вы платите только за результат — целевых и заинтересованных в вашей вакансии кандидатов</p>
                <!-- анимационная диаграмма -->
            </div>
        </div>

        <div class="section" id="clients">
            <div class="inner">
                <h1>Крупные компании — доверяют Вере</h1>
                <p class='company-description'></p>
                <!-- плитки -->
                <!-- счетчик -->
            </div>
        </div>

        <div class="section special media" id="media">
            <div class="inner slider">
                <div class="slider-control left"></div>
                <div class="slider-inner">
                    <div class="slider-canvas">
                        <div class="slider-item media-item">
                            <h1>Мировая победа</h1>
                            <p>Робот Вера — лучшая на HR-TECH WORLD 2017</p>
                        </div>
                        <div class="slider-item media-item">
                            <h1>Вера на Первом канале</h1>
                            <p>Интервью с основателем компании Владимиром Свешниковым.</p>
                        </div>
                        <div class="slider-item media-item">
                            <h1>Кейс в подробностях</h1>
                            <p>...позволило ритейлеру сэкономить до 200 человеко- часов в месяц</p>
                        </div>
                        <div class="slider-item media-item">
                            <h1>Здравая идея</h1>
                            <p>Человек делает 100 звонков за два дня, робот — за 30 минут.</p>
                        </div>
                        <div class="slider-item media-item">
                            <h1>Здравая идея 2</h1>
                            <p>Человек дsdsd 100 звонков за два дня, робот — за 30 минут.</p>
                        </div>
                        <div class="slider-item media-item">
                            <h1>Здравая идея 3</h1>
                            <p>Человек дsdsd 100 звонков за два дня, робот — за 30 минут.</p>
                        </div>
                    </div>
                </div>
                <div class="slider-control right"></div>
            </div>
        </div>

        <div class="section special-gradient" id="videointeview">
            <div class="inner">
                <h1>До очной встречи — Вера встретится за вас</h1>
                <p></p>
                <button class='green'>Получить специальный тариф</button>
            </div>
        </div>
    </div>

    <div class="section footer">
        <div class="inner">

        </div>
    </div>
</body>
</html>
