<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Robot Vera</title>
</head>
<body>
    <div class="section violet-gradient">
        <div class="header">
            <div class="logo"></div>
            <div class="nav">
                <a href="#how">Как работает Вера</a>
                <a href="#tech">Технологии</a>
                <a href="#clients">Клиенты</a>
                <a href="#massmedia">СМИ</a>
                <a href="#videointeview">Видео интервью</a>
            </div>
            <div class="lang-switcher">RU | EN</div>
        </div>
        <h1>Здравствуйте, меня зовут Вера, я – робот</h1>
        <p>Искусственный интелект найдет тысячи резюме, позвонит кандидатам, проведет интервью и даже закажет им такси, чтобы встретиться с Вами</p>
        <button class='green'>Войти</button>
    </div>

    <div class="section" id="how">
        <h1>Как работает робот Вера</h1>
        <p>Вы платите только за результат — целевых и заинтересованных в вашей вакансии кандидатов</p>
        <button class='violet'>Регистрация</button>
    </div>

    <div class="oblachko"></div>

    <div class="section violet-gradient" id="tech">
        <!-- мозг и чат -->
        <iframe class="chat" src="http://truerenton.com/landbot"></iframe>
        <h1>Мозг Веры — эксперементальные технологии и уникальное совмещение конкурирующих разработок</h1>
        <p>Вы платите только за результат — целевых и заинтересованных в вашей вакансии кандидатов</p>
        <!-- анимационная диаграмма -->
    </div>

    <div class="section" id="clients">
        <h1>Крупные компании — доверяют Вере</h1>
        <p class='company-description'></p>
        <!-- плитки -->
        <!-- счетчик -->
    </div>

    <div class="section violet" id="massmedia">
        <!-- слайдер с отзывами от СМИ -->
    </div>

    <div class="section violet-gradient" id="videointeview">
        <h1>До очной встречи — Вера встретится за вас</h1>
        <p></p>
        <button class='green'>Получить специальный тариф</button>
    </div>

    <div class="section footer">
    </div>
</body>
</html>
