body
html
iframe
    margin 0
    padding 0
    border 0
    font-family sans-serif
    -webkit-font-smoothing antialiased

button
    appearance none
    padding 15px 20px
    min-width 100px
    border-radius 50px
    border 0
    outline none
    opacity .9
    box-shadow 0 2px 5px rgba(0,0,0,.2)
    transition .1s ease-out
    transition-property opacity, transform
    text-align center
    text-transform uppercase
    font-size 100%
    cursor pointer

    &:hover
        opacity 1
        transform scale(1.01)
    &:active
        transform scale(.95)

    &.green
        background-color #67ef74

    &.violet
        background-color #7a65fa


.section
    max-width 1000px
    padding 100px calc((100% - 1000px) / 2)

    &.violet
        background #7a65fa

    &.violet-gradient
        background-image linear-gradient(to bottom left, #67ef74, #7a65fa)

    &.footer
        background-color #333
        color #fcfcfc
        min-height 200px

// .header


.chat
    width 400px
    height 600px

